<header class="header {{#if @blog.cover}}" role="banner" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">

  <div class="wrap twelvecol hide-on-mobile">
    {{> navigation}}
  </div>

    <!-- Align text vertially -->
    <div id="title-header"class="wrap text-center">

        <!-- Title -->
        <div id="site-title" class="h1">
            <a href="{{@blog.url}}" rel="nofollow">{{@blog.title}}</a>
        </div>

    </div>

</header> <!-- end header -->
